body{
    padding: 2%;
    margin: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size:50px;
}
.w11{
    background-color: rgb(201, 201, 201);
    display: inline-block;
    border-radius: 5px;
    padding:7px;
    margin: 5px;
    font-size: 20px;
}

.w12{
    display: inline-block;
    padding: 20px;
    padding-left: 100px;
    margin-left: 10px;
    justify-content:flex-start;
    font-size: 20px;
}
.w13{
    display: block;
    margin: 10px;
    padding: 5px;
    margin-left: 190px;
}

.w13 span{
    margin-right: 4%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
    background-color: bisque;
    font-size: 20px;

}

.head{
    font-weight: normal;
}
